<h1> <%=@equip.name%> </h1>
<div class="clearfix">
<div id="column1" class="col3rd">
  <ul>
    <% @general.each do |field, value| %>
      <li> <b><%= field.capitalize%>: </b> <%= value%></li>
    <%end%>
    
    <li><b>Invents into:</b>
      <ul>
        <%if @invents.empty?%>
          <li> (nothing) </li>
        <%else%>
          <%@invents.each do |name| %>
            <li> <%=link_to show_equipment_path(name) do name end%> </li> 
          <%end%>
        <%end%>
      </ul>
    </li>
    
    <li><b>Synthesis component of:</b>
      <ul>
        <%if @synthesizes.empty?%>
          <li> (nothing) </li>
        <%else%>
          <%@synthesizes.each do |item| %>
          <%name = item[:name]%>
            <li> 
              <%if item[:equip]%>
                <%=link_to show_equipment_path(name) do name end%>
              <%else%>
                <%=link_to show_item_path(name) do name end%>
              <%end%>
            </li>
          <%end%>
        <%end%>
      </ul>
    </li>
    
    <li><b>Synthesized from:</b>
      <ul>
        <%if @components.empty?%>
          <li> (nothing) </li>
        <%else%>
          <%@components.each do |item| %>
          <%name = item[:name]%>
            <li>   
              <%if item[:equip]%>
                <%=link_to show_equipment_path(name) do name end%>
              <%else%>
                <%=link_to show_item_path(name) do name end%>
              <%end%>
            </li>
          <%end%>
        <%end%>
      </ul>
    </li>
    
    
  </ul>
</div>
<div id="col2" class="col3rd">
  <ul>
    <% @specs.each do |field, value| %>
      <li> <b><%= field.capitalize%>: </b> <%= value%></li>
    <%end%>
  </ul>
</div>
<div id="col3" class="col3rd">
  <table class = "table table-hover table-bordered table-condensed">
    <thead>
      <tr>
        <td> <b>Level</b> </td>
        <%(1..5).each do |num| %>
          <td><b><%=num%></b></td>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @eqp_stats.each do |field, values| %>
        <tr> 
          <td> <b><%= field.upcase%></b> </td> 
          <%values.each do |val|%>
            <td> <%=val%> </td>
          <%end%>
      <%end%>
      
      <tr ><%(1+5).times do%><td class = "divider"><%end%></td></tr>
      
      <% @char_stats.each do |field, values| %>
        <tr> 
          <td> <b><%= field.upcase%></b> </td> 
          <%values.each do |val|%>
            <td> <%=val%> </td>
          <%end%>
      <%end%>
    
    </tbody>
  </table>
</div>
</div>
</ul>