<!DOCTYPE html>
<script type = "text/javascript">

</script>

<html>
<head>
  <title>Spectral Souls Item Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type = "text/css" media="screen">
        /* Override some defaults */
      html, body {
        background-color: #ffff;
     }
     .container {
       width : 800px;
     }
   </style>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <p class = "brand"> Spectral Souls Item Guide: </p>
            
            <form action=<%=item_index_path%> style="float: left;width:auto;">
              <button class="btn" type="submit">All Items</button>
            </form>
            <p style="float: left;width:auto;margin-top:10px;"> --- </p>
            <form action=<%=home_path%> style="float: left;width:auto;">
              <button class="btn" type="submit">Equipment</button>
            </form>
            
        </div>
    </div>
    <!--<div class="background"></div>-->
    <div style="width:90%;margin:0 auto;">
      <p id=nojsmsg> Note: Some functionality is missing because you do not have JavaScript enabled. </p>
      <%= yield %>
      <footer class="footer"> 
        <p> Site made by Jason Teoh: jasontgame@gmail.com </p>
        <p> Credits: All game info comes from guides posted by swift412 on GameFAQs. </p>
      </footer>
    </div>

</body>

</html>
